In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from keras.preprocessing.sequence import TimeseriesGenerator
from keras.models import Sequential
import keras.layers as layers

In [7]:
data = pd.read_csv('../inputData/fb.us.txt')
data.Date = pd.to_datetime(fb_stocks.Date)
data.drop(columns='OpenInt', inplace=True)
data.head()

        Date   Open   High    Low  Close     Volume
0 2012-05-18  42.05  45.00  38.00  38.23  580438450
1 2012-05-21  36.53  36.66  33.00  34.03  169418988
2 2012-05-22  32.61  33.59  30.94  31.00  101876406
3 2012-05-23  31.37  32.50  31.36  32.00   73678512
4 2012-05-24  32.95  33.21  31.77  33.03   42560731

In [10]:
Xcol = fb_stocks.columns[1:]
scaled = MinMaxScaler().fit_transform(fb_stocks[Xcol])
dataSc = pd.DataFrame(data=scaled, columns=Xcol)

In [17]:
dataSc

          Open      High       Low     Close    Volume
0     0.145909  0.162364  0.125445  0.124295  1.000000
1     0.112308  0.111705  0.094774  0.098830  0.284593
2     0.088447  0.093057  0.082137  0.080458  0.167031
3     0.080898  0.086436  0.084714  0.086522  0.117950
4     0.090516  0.090749  0.087229  0.092767  0.063788
...        ...       ...       ...       ...       ...
1376  0.976869  0.985118  0.986137  0.984903  0.012815
1377  0.988678  0.986928  0.992841  0.985388  0.012168
1378  0.984356  0.984511  0.991044  0.981204  0.007928
1379  0.975347  0.978740  0.978653  0.979628  0.011643
1380  0.975590  0.976918  0.983990  0.974535  0.008959

[1381 rows x 5 columns]

In [ ]:
gen = TimeseriesGenerator()

# Followin example of how to make multivariate timeseries
https://machinelearningmastery.com/how-to-use-the-timeseriesgenerator-for-time-series-forecasting-in-keras/

In [14]:
# define dataset
in_seq1 = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
in_seq2 = np.array([15, 25, 35, 45, 55, 65, 75, 85, 95, 105])

# reshape series
in_seq1 = in_seq1.reshape((len(in_seq1), 1))
in_seq2 = in_seq2.reshape((len(in_seq2), 1))

# horizontally stack columns
dataset = np.hstack((in_seq1, in_seq2))

In [15]:
dataset

array([[ 10,  15],
       [ 20,  25],
       [ 30,  35],
       [ 40,  45],
       [ 50,  55],
       [ 60,  65],
       [ 70,  75],
       [ 80,  85],
       [ 90,  95],
       [100, 105]])

In [121]:
dataSc.iloc[:,:2]
np.array(dataSc)

array([[0.14590942, 0.16236409, 0.12544473, 0.12429516, 1.        ],
       [0.11230825, 0.11170504, 0.09477365, 0.09882981, 0.28459312],
       [0.08844655, 0.09305716, 0.08213716, 0.08045838, 0.16703073],
       ...,
       [0.98435598, 0.98451072, 0.99104404, 0.98120415, 0.0079276 ],
       [0.97534697, 0.97874021, 0.97865293, 0.97962772, 0.01164298],
       [0.97559046, 0.97691794, 0.98398969, 0.97453465, 0.00895932]])

In [67]:
# Determine where the index separating the training from the test set is. We will start with a 80% train/test split.
divIndex = round(dataSc.shape[0] * 0.8)
divIndex
train = dataSc.iloc[:divIndex,:]
test = dataSc.iloc[divIndex:,:]
test.head()

          Open      High       Low     Close    Volume
1105  0.679328  0.682925  0.684885  0.682168  0.014711
1106  0.682676  0.682561  0.678935  0.673801  0.018485
1107  0.675250  0.676608  0.680346  0.674953  0.007169
1108  0.670380  0.668043  0.669856  0.667495  0.018037
1109  0.672084  0.672295  0.674948  0.667859  0.010866

In [122]:
batch_size = 30
length = 20
seqTrain = TimeseriesGenerator(data=np.array(train), targets=np.array(train.Open), length=20, batch_size=30) #end_index=divIndex
seqTest = TimeseriesGenerator(data=np.array(test), targets=np.array(test.Open), length=20, batch_size=30) #start_index=divIndex + 1,

In [123]:
train.shape[1]
#stepsEpochTrain = len

5

Now we have our training and testsequence, so we can move to the model.

In [141]:
n_features = train.shape[1]

model1 = Sequential([
    layers.LSTM(100, activation='relu'), #, input_shape=(length, n_features)   
])

# layers.Dropout(0.5),
# layers.Dense(50, activation='elu'),
# layers.Dropout(0.5),
# layers.Dense(2, activation='softmax')

In [142]:
model1.compile(optimizer='adam', loss='mean_squared_error',metrics=['acc'])
#steps_per_epoch =

In [143]:
model1.fit

In [144]:
model1.fit_generator(generator=seqTrain,
                     steps_per_epoch=len(seqTrain),
                     epochs=10, 
                     validation_data=seqTest, 
                     validation_steps=len(seqTest))

RuntimeError: You must compile your model before using it.